/*body of all htmls*/
body{
    height: 100%;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
    position: relative;
}

/*backgronds*/
#spectroom{
    background-image: url("photo/spectur.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
  
#rules-body{
    background-image: url("photo/back2.jpg");
    background-size: 100%;
  }
  
#container{
    background-color: white; 
}

#contact_it{
    background-image: url("photo/background.jpg");
    background-size: 100%;
}

#contact_66{
    background-image: url("photo/background.jpg");
    background-size: 100%;
}

#contact_room662{
    background-image: url("photo/background.jpg");
    background-size: 100%;
}

#gallery{
    background-image: url("photo/background.jpg");
    background-size: 100%;
}

#organizers{
    background-color: #FFFFFF;
}

/*header*/
.spectroom-header h1 {
    height: 80px;
    margin-left: 40px;
    margin-top: 60px;
    color: white;
    align-items: center;
}

.spectroom-header {
  
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 white;
    z-index: 999;

}
.spectroom-header * {
    right: 0;
    display: inline;
}

.spectroom-header li {
    margin: 20px; 
}

.spectroom-header li a {
    color:white;
    text-decoration: none;
  
  }

/*navigation-bar*/
.spectroom-header nav{
    z-index: 9;
    position: absolute;
    right: 0.5em;
    top: 0;
    height: 80px;
    line-height: 80px;
}

.dropbtn {
    background-color: black;
    color: white;
    font-size: 16px;
    border: none;
    padding: 16px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 110px;
    z-index: 1;
    color: black;
    box-shadow: 0 0 25px 0 white;
}

.dropdown-content a {
    color: whitesmoke;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 20px;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
}

.dropdown-content a:hover {
    text-align: center;
    background-color:darkgrey;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: black;
}

/*footer*/

#footer {
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    background-color:#1C1C1C;
    color: white;
    text-align: center;
    height: 2.5rem;
    margin-top: -200px;
}

/*first page css*/

#first-page h1{
    color: black;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 100px;
}
  
#first-page h2{
    color: black;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 40px;
}

#organizers h1{
    text-align: center;
    font-family:'Courier New', Courier, cursive;
    color: black;
    font-size: 40px;    
}

#bold-sp{
    color: #f4511e;
    font-family: 'Shadows Into Light', cursive;   
}

#organizers ul {
    display: table;
    margin: 0 auto;
}

#organizers li {
    display: inline;
    margin: 15px;
    text-align: center;
}


/*first page button*/

.button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    align-items: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    position: absolute;
    left: 42%;
    z-index: 0;
}
  
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.button:hover span {
    padding-right: 50%;
}
  
.button:hover span:after {
    opacity: 1;
    right: 0;
}

/*slide show*/

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {

  z-index: inherit;
  max-width: 100%;
  position: relative;
  margin: 150px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

#container li{
    list-style-type: none;
}

/*rules css*/

.rules h1{
    color: black;
    text-align: center;
    font-size:50px;
  }
  .rules h2{
    color: black;
    text-align: center;
    font-size: 40px;
  }
  
  .rules p{
    color: black;
    text-align: inherit;
    font-size: 20px;
  }

 /*contacts css*/ 

 .contacts h1{
    color: white;
    font-family: 'Shadows Into Light', cursive;
    font-size: 50px;
    text-align: center;
  }
  
  .contacts h2{
    color: yellow;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 45px;
  }
  
  .contacts p{
    color: white;
    font-family: 'Shadows Into Light', cursive;
    font-size: 28px;
  }
  
  .contacts ul li{
    color: white;
    list-style-type:none;
  }
  
  #map {
    height: 100%;
  }

  /*gallery*/


#wrap{
	width:400px;
	margin:0 auto;
	text-align:left;
	margin-top:8px;
	padding:5px;
	background:#fff;
    font-family:AvenirLTStd, Arial, Helvetica, sans-serif;
	font-size:13px;    
    line-height:16px;
}
#wrap .cont_details fieldset,.cont_order fieldset{
	margin:10px;
	padding:20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}
#wrap legend{
	font-size:16px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#000;
	font-weight:bold;
	font-style:italic;
    padding-bottom:10px;
}
#wrap .cont_details input{
	margin-bottom:10px;
	color:#000;
}
#wrap .input1:hover,.input1:active{
	
}
#wrap label{
	display:block;
	font-size:12px;
	color:#000;
    font-weight:bold;
}
#wrap label.inlinelabel
{
    display:inline;
}
#wrap .cont_order input{
	margin-bottom:5px;
}
#wrap .cont_order p{
	padding-top:5px;
}

#wrap input[type="radio"]
{
margin-top:8px;
margin-bottom:8px;
}

#wrap input[type="text"]:hover,
#wrap input[type="text"]:active {
background-color: #FAF398;
}

#wrap input#submit
{
margin:10px;
padding-left:20px;
padding-right:20px;
padding-top:10px;
padding-bottom:10px;
}

#wrap div#totalPrice
{
    padding:10px;
    font-weight:bold;
    background-color:#ff0;
}

#wrap label.radiolabel
{
font-weight:normal;
 display:inline;
}

.cont_order{
  margin: 20px;
  padding: 50px;
}